<!-- This line declares the document type as HTML5 -->
<!DOCTYPE html>

<!-- This line starts the HTML document -->
<html>

    <!-- This line starts the head section of the HTML document -->
    <head>
        <!-- This line sets the title of the page, which can be overridden in child templates -->
        <title>{% block title  %}{% endblock %}</title>

        <!-- This line links an external stylesheet called "style.css" located in the "static" folder -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <!-- This line starts the body section of the HTML document -->
    <body>

          <!-- This line starts a navigation menu -->
        <nav>
            <!-- This line creates a button with a link to the "home" page -->
            <button><a href="{{ url_for('home') }}">Home</a></button>

            <!-- This line creates a button with a link to the "process" page -->
            <button><a href="{{ url_for('process') }}">Process</a></button>
        </nav>

         <!-- This line displays a heading with the text "Digital Detectives" -->
        <h1>Digital Detectives</h1>

        <!-- This line defines a block called "content" that can be overridden in child templates -->
        {%  block content %}{% endblock %}
    </body>
<!-- This line ends the HTML document -->
</html>
