<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="../static/home.css">
    <!--file upload handling-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/file_submit.js" defer></script>
    <script src="../static/chat.js" defer></script>

</head>
<body>
    <!-- Main container -->
    <div class="container">
        
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- User greeting -->
            <div class="greeting">
                <button>Hi, &lt;USER>;</button>
            </div>

            <!-- Upload file -->
            <div class="upload">
                <form id="uploadForm" enctype="multipart/form-data">
                    <input type="file" id="uploadFile" name="file">
                    <label for="uploadFile">Upload File</label>
                    <button type="submit">Submit</button>
                </form>
            </div>

            <!-- Delete button -->
            <div class="deleteSession">
                <button>Delete Session</button>
             </div>

            <!-- Logout button -->
            <div class="logout">
                <button>Log out</button>
            </div>
        </div>

        <!-- Main Chat Section -->
        <div class="main-content">
            <!-- Chat window -->
            <div id="chat-window" class="chat-window">
                <span>CHAT WINDOW</span>
            </div>

            <!-- Bottom Bar -->
            <div class="bottom-bar">
                <button>Download Chat</button>
                <input id="text-input" type="text" placeholder="Write questions here">
                <button id="send-btn">Send</button>
            </div>
        </div>

    </div>
</body>
</html>
