
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / Editor specific
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
*.swp
*.swo
*.tmp

# Python Virtual Environment specific
.vscode/

# Virtual env
.venv/
/.venv

# All disk images
*.dd
Program/**/*.dd