<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/login.css">
    <title>FlaskBlog</title>
</head>
<body>
    <h1>Welcome to LLM Tool</h1>
    <section>
    
    <div class="signin">
        <div class="content">
            <h2>Sign In</h2> 
            <div class ="form">
                <form action="/login" method="POST">
                <div class="inputBox">
                    <input type="text" name="username" value="{{request.form.username}}"><i>Username</i>
                </div>
                <div class="inputBox">
                    <input type="password" name="password" value="{{request.form.password}}"><i>Password</i>
                </div>

                <div class="inputBox"> 
                    <input type="submit" value="Login">
                </div>
                </form>
            </div> 
        </div> 
        </div>
    
    </section>
</body>
</html>